<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundImage</key>
	<string>Background-Menu</string>
	<key>ButtonsIcon</key>
	<string>Player-Button</string>
	<key>EnergyEmptyIcon</key>
	<string>Player-Life-Empty</string>
	<key>EnergyFullIcon</key>
	<string>Player-Life-Full</string>
	<key>EnergyLowIcon</key>
	<string>Player-Life-Low</string>
	<key>FontName</key>
	<string>MarkerFelt-Thin</string>
	<key>GameOverFirstSound</key>
	<string></string>
	<key>GameOverSecondSound</key>
	<string>GameOver</string>
	<key>IntroVideo</key>
	<string></string>
	<key>LevelClearedFirstSound</key>
	<string>LevelCleared</string>
	<key>LevelClearedSecondSound</key>
	<string></string>
	<key>LevelList</key>
	<array>
		<string>Level1</string>
	</array>
	<key>LifeIcon</key>
	<string>Player-Life-Icon</string>
	<key>MenuInfo</key>
	<dict>
		<key>ClickSound</key>
		<string>Click</string>
		<key>MenuEntry</key>
		<array>
			<string>New game</string>
			<string>Settings</string>
			<string>Hall of fame</string>
		</array>
		<key>Music</key>
		<string>Menu</string>
		<key>Sound</key>
		<string>Select</string>
		<key>StartX</key>
		<integer>165</integer>
		<key>StartY</key>
		<integer>135</integer>
	</dict>
	<key>PlayerInfo</key>
	<dict>
		<key>Energy</key>
		<integer>200</integer>
		<key>Impact</key>
		<integer>40</integer>
		<key>LifeCount</key>
		<integer>4</integer>
		<key>ReservedResource</key>
		<true/>
		<key>ResourceData</key>
		<dict>
			<key>ResourceDestroy</key>
			<array>
				<string>Player-Explode-1</string>
				<string>Player-Explode-2</string>
				<string>Player-Explode-3</string>
				<string>Player-Explode-4</string>
				<string>Player-Explode-5</string>
				<string>Player-Explode-6</string>
				<string>Player-Explode-7</string>
				<string>Player-Explode-8</string>
			</array>
			<key>ResourceDown</key>
			<array>
				<string>Player-Move-1</string>
				<string>Player-Move-2</string>
			</array>
			<key>ResourceFire</key>
			<array>
				<string>Player-Fire-1</string>
				<string>Player-Fire-2</string>
			</array>
			<key>ResourceLeft</key>
			<array>
				<string>Player-Move-1</string>
				<string>Player-Move-2</string>
			</array>
			<key>ResourceMissile</key>
			<array>
				<string>Player-Move-1</string>
				<string>Player-Move-2</string>
			</array>
			<key>ResourceRight</key>
			<array>
				<string>Player-Move-1</string>
				<string>Player-Move-2</string>
			</array>
			<key>ResourceUp</key>
			<array>
				<string>Player-Move-1</string>
				<string>Player-Move-2</string>
			</array>
		</dict>
		<key>Sound</key>
		<string>LifeLost</string>
		<key>SpeedX</key>
		<integer>10</integer>
		<key>SpeedY</key>
		<integer>10</integer>
		<key>TimeCountPerFrame</key>
		<integer>3</integer>
		<key>WeaponX</key>
		<integer>0</integer>
		<key>WeaponY</key>
		<integer>30</integer>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>140</integer>
	</dict>
	<key>SatInfo</key>
	<dict>
		<key>Energy</key>
		<integer>1000000</integer>
		<key>Impact</key>
		<integer>10</integer>
		<key>ReservedResource</key>
		<true/>
		<key>ResourceData</key>
		<dict>
			<key>ResourceDestroy</key>
			<array>
				<string>Satellite-Move-1</string>
				<string>Satellite-Move-2</string>
				<string>Satellite-Move-1</string>
			</array>
			<key>ResourceDown</key>
			<array>
				<string>Satellite-Move-1</string>
				<string>Satellite-Move-2</string>
				<string>Satellite-Move-1</string>
			</array>
			<key>ResourceFire</key>
			<array>
				<string>Satellite-Move-1</string>
				<string>Satellite-Move-2</string>
				<string>Satellite-Move-1</string>
			</array>
			<key>ResourceLeft</key>
			<array>
				<string>Satellite-Move-1</string>
				<string>Satellite-Move-2</string>
				<string>Satellite-Move-1</string>
			</array>
			<key>ResourceRight</key>
			<array>
				<string>Satellite-Move-1</string>
				<string>Satellite-Move-2</string>
				<string>Satellite-Move-1</string>
			</array>
			<key>ResourceUp</key>
			<array>
				<string>Satellite-Move-1</string>
				<string>Satellite-Move-2</string>
				<string>Satellite-Move-1</string>
			</array>
		</dict>
		<key>Sound</key>
		<string></string>
		<key>SpeedX</key>
		<integer>10</integer>
		<key>SpeedY</key>
		<integer>10</integer>
		<key>TimeCountPerFrame</key>
		<integer>3</integer>
		<key>weaponX</key>
		<integer>0</integer>
		<key>weaponY</key>
		<integer>0</integer>
	</dict>
	<key>TitleSound</key>
	<string>Title</string>
	<key>WarningSound</key>
	<string></string>
</dict>
</plist>
