<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LevelName</key>
	<string>LEVEL 2: Sea</string>
	<key>Music</key>
	<string>Level2Music</string>
	<key>BossMusic</key>
	<string>BossMusic</string>
	<key>Timing</key>
	<integer>0</integer>
	<key>ScrollingList</key>
	<array>
		<dict>
			<key>ResourceName</key>
			<string>Background-Level2-4</string>
			<key>LevelStep</key>
			<integer>0</integer>
			<key>Speed</key>
			<integer>0</integer>
			<key>Z</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ResourceName</key>
			<string>Background-Level2-3</string>
			<key>LevelStep</key>
			<integer>0</integer>
			<key>Speed</key>
			<integer>2</integer>
			<key>Z</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ResourceName</key>
			<string>Background-Level2-2</string>
			<key>LevelStep</key>
			<integer>0</integer>
			<key>Speed</key>
			<integer>7</integer>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ResourceName</key>
			<string>Background-Level2-1</string>
			<key>LevelStep</key>
			<integer>0</integer>
			<key>Speed</key>
			<integer>9</integer>
			<key>Z</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>ResourceName</key>
			<string>Background-Level2-4</string>
			<key>LevelStep</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>0</integer>
			<key>Z</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ResourceName</key>
			<string>Background-Level2-3</string>
			<key>LevelStep</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>2</integer>
			<key>Z</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ResourceName</key>
			<string>Background-Level2-2</string>
			<key>LevelStep</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>7</integer>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ResourceName</key>
			<string>Background-Level2-1</string>
			<key>LevelStep</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>9</integer>
			<key>Z</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>ObjectTypeDefinitionList</key>
	<array>
		<dict>
			<key>TypeID</key>
			<integer>0</integer>
			<key>SpeedX</key>
			<integer>4</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>10000000</integer>
			<key>TimeCountPerFrame</key>
			<integer>10</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>ObjectType</key>
			<integer>1</integer>
			<key>ResourceData</key>
			<array>
				<string>BonusGenerator1</string>
				<string>BonusGenerator2</string>
			</array>
		</dict>
	</array>
	<key>BonusTypeDefinitionList</key>
	<array>
		<dict>
			<key>TypeID</key>
			<integer>0</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>OneUp</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-Life</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>1</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>3</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>PowerUp</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-FirePower</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>2</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>MissileUp</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-MissilePower</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>3</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>DestroyThemAll</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-Eraser</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>4</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>Shield</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-Shield</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>1000</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>ScoreUp</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-1000</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>5000</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>ScoreUp</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-5000</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>5</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>Energy</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-Energy</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>10</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>Eggs</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-WeaponEgg</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>30</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>BeerPower</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-WeaponCan</string>
			</array>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>40</integer>
			<key>SpeedX</key>
			<integer>0</integer>
			<key>Impact</key>
			<integer>0</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>SpecialEggs</string>
			<key>ResourceData</key>
			<array>
				<string>Bonus-WeaponKillerEgg</string>
			</array>
		</dict>
	</array>
	<key>EnemyTypeDefinitionList</key>
	<array>
		<dict>
			<key>TypeID</key>
			<integer>0</integer>
			<key>SpeedX</key>
			<integer>12</integer>
			<key>SpeedY</key>
			<integer>8</integer>
			<key>Impact</key>
			<integer>10</integer>
			<key>Energy</key>
			<integer>10</integer>
			<key>MoveFile</key>
			<string>Move-Special-1</string>
			<key>Weapon</key>
			<integer>0</integer>
			<key>WeaponPower</key>
			<integer>1</integer>
			<key>WeaponX</key>
			<integer>0</integer>
			<key>WeaponY</key>
			<integer>0</integer>
			<key>WeaponDirection</key>
			<integer>2</integer>
			<key>TimeCountPerFrame</key>
			<integer>2</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string></string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>EnemyLittleBird</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>EnemyLittleBird</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>EnemyLittleBird</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>EnemyLittleBird</string>
				</array>
				<key>ResourceFire</key>
				<array>
					<string>EnemyLittleBird</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>Enemy-Explode-1</string>
					<string>Enemy-Explode-2</string>
					<string>Enemy-Explode-3</string>
					<string>Enemy-Explode-4</string>
					<string>Enemy-Explode-5</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>1</integer>
			<key>SpeedX</key>
			<integer>24</integer>
			<key>SpeedY</key>
			<integer>8</integer>
			<key>Impact</key>
			<integer>30</integer>
			<key>Energy</key>
			<integer>5</integer>
			<key>MoveFile</key>
			<string></string>
			<key>Weapon</key>
			<integer>0</integer>
			<key>WeaponPower</key>
			<integer>1</integer>
			<key>WeaponX</key>
			<integer>0</integer>
			<key>WeaponY</key>
			<integer>0</integer>
			<key>WeaponDirection</key>
			<integer>2</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string></string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>EnemyStork-Move-1</string>
					<string>EnemyStork-Move-2</string>
					<string>EnemyStork-Move-1</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>EnemyStork-Move-1</string>
					<string>EnemyStork-Move-2</string>
					<string>EnemyStork-Move-1</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>EnemyStork-Move-1</string>
					<string>EnemyStork-Move-2</string>
					<string>EnemyStork-Move-1</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>EnemyStork-Move-1</string>
					<string>EnemyStork-Move-2</string>
					<string>EnemyStork-Move-1</string>
				</array>
				<key>ResourceFire</key>
				<array>
					<string>EnemyStork-Move-1</string>
					<string>EnemyStork-Move-2</string>
					<string>EnemyStork-Move-1</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>Enemy-Explode-1</string>
					<string>Enemy-Explode-2</string>
					<string>Enemy-Explode-3</string>
					<string>Enemy-Explode-4</string>
					<string>Enemy-Explode-5</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>2</integer>
			<key>SpeedX</key>
			<integer>12</integer>
			<key>SpeedY</key>
			<integer>8</integer>
			<key>Impact</key>
			<integer>10</integer>
			<key>Energy</key>
			<integer>10</integer>
			<key>MoveFile</key>
			<string>Move-LeftAndFire</string>
			<key>Weapon</key>
			<integer>4</integer>
			<key>WeaponPower</key>
			<integer>1</integer>
			<key>WeaponX</key>
			<integer>0</integer>
			<key>WeaponY</key>
			<integer>40</integer>
			<key>WeaponDirection</key>
			<integer>2</integer>
			<key>TimeCountPerFrame</key>
			<integer>3</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string></string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>EnemyWhales-Move-1</string>
					<string>EnemyWhales-Move-2</string>
					<string>EnemyWhales-Move-3</string>
					<string>EnemyWhales-Move-4</string>
					<string>EnemyWhales-Move-5</string>
					<string>EnemyWhales-Move-1</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>EnemyWhales-Move-1</string>
					<string>EnemyWhales-Move-2</string>
					<string>EnemyWhales-Move-3</string>
					<string>EnemyWhales-Move-4</string>
					<string>EnemyWhales-Move-5</string>
					<string>EnemyWhales-Move-1</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>EnemyWhales-Move-1</string>
					<string>EnemyWhales-Move-2</string>
					<string>EnemyWhales-Move-3</string>
					<string>EnemyWhales-Move-4</string>
					<string>EnemyWhales-Move-5</string>
					<string>EnemyWhales-Move-1</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>EnemyWhales-Move-1</string>
					<string>EnemyWhales-Move-2</string>
					<string>EnemyWhales-Move-3</string>
					<string>EnemyWhales-Move-4</string>
					<string>EnemyWhales-Move-5</string>
					<string>EnemyWhales-Move-1</string>
				</array>
				<key>ResourceFire</key>
				<array>
					<string>EnemyWhales-Move-1</string>
					<string>EnemyWhales-Move-2</string>
					<string>EnemyWhales-Move-3</string>
					<string>EnemyWhales-Move-4</string>
					<string>EnemyWhales-Move-5</string>
					<string>EnemyWhales-Move-1</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>Enemy-Explode-1</string>
					<string>Enemy-Explode-2</string>
					<string>Enemy-Explode-3</string>
					<string>Enemy-Explode-4</string>
					<string>Enemy-Explode-5</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>3</integer>
			<key>SpeedX</key>
			<integer>30</integer>
			<key>SpeedY</key>
			<integer>1</integer>
			<key>Impact</key>
			<integer>40</integer>
			<key>Energy</key>
			<integer>600</integer>
			<key>MoveFile</key>
			<string>Move-Special-2</string>
			<key>Weapon</key>
			<integer>5</integer>
			<key>WeaponPower</key>
			<integer>3</integer>
			<key>WeaponX</key>
			<integer>0</integer>
			<key>WeaponY</key>
			<integer>100</integer>
			<key>WeaponDirection</key>
			<integer>2</integer>
			<key>TimeCountPerFrame</key>
			<integer>2</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string></string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>Level2Boss-Move-1</string>
					<string>Level2Boss-Move-2</string>
					<string>Level2Boss-Move-1</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>Level2Boss-Move-1</string>
					<string>Level2Boss-Move-2</string>
					<string>Level2Boss-Move-1</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>Level2Boss-Move-1</string>
					<string>Level2Boss-Move-2</string>
					<string>Level2Boss-Move-1</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>Level2Boss-Move-1</string>
					<string>Level2Boss-Move-2</string>
					<string>Level2Boss-Move-1</string>
				</array>
				<key>ResourceFire</key>
				<array>
					<string>Level2Boss-Fire-1</string>
					<string>Level2Boss-Fire-1</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>Enemy-Explode-1</string>
					<string>Enemy-Explode-2</string>
					<string>Enemy-Explode-3</string>
					<string>Enemy-Explode-4</string>
					<string>Enemy-Explode-5</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>4</integer>
			<key>SpeedX</key>
			<integer>15</integer>
			<key>SpeedY</key>
			<integer>1</integer>
			<key>Impact</key>
			<integer>20</integer>
			<key>Energy</key>
			<integer>20</integer>
			<key>MoveFile</key>
			<string>Move-LeftAndFire</string>
			<key>Weapon</key>
			<integer>6</integer>
			<key>WeaponPower</key>
			<integer>1</integer>
			<key>WeaponX</key>
			<integer>0</integer>
			<key>WeaponY</key>
			<integer>50</integer>
			<key>WeaponDirection</key>
			<integer>2</integer>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string></string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>EnemyOctopus-Move-1</string>
					<string>EnemyOctopus-Move-2</string>
					<string>EnemyOctopus-Move-1</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>EnemyOctopus-Move-1</string>
					<string>EnemyOctopus-Move-2</string>
					<string>EnemyOctopus-Move-1</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>EnemyOctopus-Move-1</string>
					<string>EnemyOctopus-Move-2</string>
					<string>EnemyOctopus-Move-1</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>EnemyOctopus-Move-1</string>
					<string>EnemyOctopus-Move-2</string>
					<string>EnemyOctopus-Move-1</string>
				</array>
				<key>ResourceFire</key>
				<array>
					<string>EnemyOctopus-Move-1</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>Enemy-Explode-1</string>
					<string>Enemy-Explode-2</string>
					<string>Enemy-Explode-3</string>
					<string>Enemy-Explode-4</string>
					<string>Enemy-Explode-5</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>WeaponTypeDefinitionList</key>
	<array>
		<dict>
			<key>TypeID</key>
			<integer>1</integer>
			<key>SpeedX</key>
			<integer>20</integer>
			<key>SpeedY</key>
			<integer>20</integer>
			<key>Impact</key>
			<integer>10</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>MoveFile</key>
			<string></string>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>shitShoot2</string>
			<key>Icon</key>
			<string>WeaponShit-Icon</string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>WeaponShit-1</string>
					<string>WeaponShit-2</string>
					<string>WeaponShit-3</string>
					<string>WeaponShit-4</string>
					<string>WeaponShit-5</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>WeaponShit-1</string>
					<string>WeaponShit-2</string>
					<string>WeaponShit-3</string>
					<string>WeaponShit-4</string>
					<string>WeaponShit-5</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>WeaponShit-1</string>
					<string>WeaponShit-2</string>
					<string>WeaponShit-3</string>
					<string>WeaponShit-4</string>
					<string>WeaponShit-5</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>WeaponShit-1</string>
					<string>WeaponShit-2</string>
					<string>WeaponShit-3</string>
					<string>WeaponShit-4</string>
					<string>WeaponShit-5</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>PlayerWeapon-Explode-1</string>
					<string>PlayerWeapon-Explode-2</string>
					<string>PlayerWeapon-Explode-3</string>
					<string>PlayerWeapon-Explode-2</string>
					<string>PlayerWeapon-Explode-1</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>0</integer>
			<key>SpeedX</key>
			<integer>10</integer>
			<key>SpeedY</key>
			<integer>10</integer>
			<key>Impact</key>
			<integer>5</integer>
			<key>Energy</key>
			<integer>1</integer>
			<key>MoveFile</key>
			<string></string>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>shootTest</string>
			<key>Icon</key>
			<string>WeaponEgg-Icon</string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>WeaponEgg-1</string>
					<string>WeaponEgg-2</string>
					<string>WeaponEgg-3</string>
					<string>WeaponEgg-4</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>WeaponEgg-1</string>
					<string>WeaponEgg-2</string>
					<string>WeaponEgg-3</string>
					<string>WeaponEgg-4</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>WeaponEgg-1</string>
					<string>WeaponEgg-2</string>
					<string>WeaponEgg-3</string>
					<string>WeaponEgg-4</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>WeaponEgg-1</string>
					<string>WeaponEgg-2</string>
					<string>WeaponEgg-3</string>
					<string>WeaponEgg-4</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>PlayerWeapon-Explode-1</string>
					<string>PlayerWeapon-Explode-2</string>
					<string>PlayerWeapon-Explode-3</string>
					<string>PlayerWeapon-Explode-2</string>
					<string>PlayerWeapon-Explode-1</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>2</integer>
			<key>SpeedX</key>
			<integer>20</integer>
			<key>SpeedY</key>
			<integer>20</integer>
			<key>Impact</key>
			<integer>5</integer>
			<key>Energy</key>
			<integer>5</integer>
			<key>MoveFile</key>
			<string></string>
			<key>TimeCountPerFrame</key>
			<integer>3</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>shootTest</string>
			<key>Icon</key>
			<string>WeaponCan-Icon</string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>WeaponCan-4</string>
					<string>WeaponCan-3</string>
					<string>WeaponCan-2</string>
					<string>WeaponCan-1</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>WeaponCan-4</string>
					<string>WeaponCan-3</string>
					<string>WeaponCan-2</string>
					<string>WeaponCan-1</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>WeaponCan-4</string>
					<string>WeaponCan-3</string>
					<string>WeaponCan-2</string>
					<string>WeaponCan-1</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>WeaponCan-4</string>
					<string>WeaponCan-3</string>
					<string>WeaponCan-2</string>
					<string>WeaponCan-1</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>PlayerWeapon-Explode-1</string>
					<string>PlayerWeapon-Explode-2</string>
					<string>PlayerWeapon-Explode-3</string>
					<string>PlayerWeapon-Explode-2</string>
					<string>PlayerWeapon-Explode-1</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>3</integer>
			<key>SpeedX</key>
			<integer>20</integer>
			<key>SpeedY</key>
			<integer>20</integer>
			<key>Impact</key>
			<integer>5</integer>
			<key>Energy</key>
			<integer>5</integer>
			<key>MoveFile</key>
			<string></string>
			<key>TimeCountPerFrame</key>
			<integer>3</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>shootTest</string>
			<key>Icon</key>
			<string>WeaponKillerEgg-Icon</string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>WeaponKillerEgg-1</string>
					<string>WeaponKillerEgg-2</string>
					<string>WeaponKillerEgg-3</string>
					<string>WeaponKillerEgg-4</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>WeaponKillerEgg-1</string>
					<string>WeaponKillerEgg-2</string>
					<string>WeaponKillerEgg-3</string>
					<string>WeaponKillerEgg-4</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>WeaponKillerEgg-1</string>
					<string>WeaponKillerEgg-2</string>
					<string>WeaponKillerEgg-3</string>
					<string>WeaponKillerEgg-4</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>WeaponKillerEgg-1</string>
					<string>WeaponKillerEgg-2</string>
					<string>WeaponKillerEgg-3</string>
					<string>WeaponKillerEgg-4</string>
				</array>
				<key>ResourceExplode</key>
				<array>
					<string>PlayerWeapon-Explode-1</string>
					<string>PlayerWeapon-Explode-2</string>
					<string>PlayerWeapon-Explode-3</string>
					<string>PlayerWeapon-Explode-2</string>
					<string>PlayerWeapon-Explode-1</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>4</integer>
			<key>SpeedX</key>
			<integer>20</integer>
			<key>SpeedY</key>
			<integer>20</integer>
			<key>Impact</key>
			<integer>5</integer>
			<key>Energy</key>
			<integer>5</integer>
			<key>MoveFile</key>
			<string></string>
			<key>TimeCountPerFrame</key>
			<integer>3</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string></string>
			<key>Icon</key>
			<string></string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>WeaponCan-4</string>
					<string>WeaponCan-3</string>
					<string>WeaponCan-2</string>
					<string>WeaponCan-1</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>WeaponCan-4</string>
					<string>WeaponCan-3</string>
					<string>WeaponCan-2</string>
					<string>WeaponCan-1</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>WeaponCan-4</string>
					<string>WeaponCan-3</string>
					<string>WeaponCan-2</string>
					<string>WeaponCan-1</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>WeaponCan-4</string>
					<string>WeaponCan-3</string>
					<string>WeaponCan-2</string>
					<string>WeaponCan-1</string>
				</array>
				<key>ResourceExplode</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>5</integer>
			<key>SpeedX</key>
			<integer>15</integer>
			<key>SpeedY</key>
			<integer>15</integer>
			<key>Impact</key>
			<integer>50</integer>
			<key>Energy</key>
			<integer>50</integer>
			<key>MoveFile</key>
			<string></string>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string>fusil</string>
			<key>Icon</key>
			<string></string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>Weapon-Boss2-1</string>
					<string>Weapon-Boss2-2</string>
					<string>Weapon-Boss2-3</string>
					<string>Weapon-Boss2-4</string>
					<string>Weapon-Boss2-5</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>Weapon-Boss2-1</string>
					<string>Weapon-Boss2-2</string>
					<string>Weapon-Boss2-3</string>
					<string>Weapon-Boss2-4</string>
					<string>Weapon-Boss2-5</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>Weapon-Boss2-1</string>
					<string>Weapon-Boss2-2</string>
					<string>Weapon-Boss2-3</string>
					<string>Weapon-Boss2-4</string>
					<string>Weapon-Boss2-5</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>Weapon-Boss2-1</string>
					<string>Weapon-Boss2-2</string>
					<string>Weapon-Boss2-3</string>
					<string>Weapon-Boss2-4</string>
					<string>Weapon-Boss2-5</string>
				</array>
				<key>ResourceExplode</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>TypeID</key>
			<integer>6</integer>
			<key>SpeedX</key>
			<integer>15</integer>
			<key>SpeedY</key>
			<integer>15</integer>
			<key>Impact</key>
			<integer>50</integer>
			<key>Energy</key>
			<integer>50</integer>
			<key>MoveFile</key>
			<string></string>
			<key>TimeCountPerFrame</key>
			<integer>1</integer>
			<key>LoopFrameStart</key>
			<integer>0</integer>
			<key>Sound</key>
			<string></string>
			<key>Icon</key>
			<string></string>
			<key>ResourceData</key>
			<dict>
				<key>ResourceUp</key>
				<array>
					<string>EnemyWeapon-RedBullet</string>
				</array>
				<key>ResourceDown</key>
				<array>
					<string>EnemyWeapon-RedBullet</string>
				</array>
				<key>ResourceLeft</key>
				<array>
					<string>EnemyWeapon-RedBullet</string>
				</array>
				<key>ResourceRight</key>
				<array>
					<string>EnemyWeapon-RedBullet</string>
				</array>
				<key>ResourceExplode</key>
				<array/>
			</dict>
		</dict>
	</array>
	<key>GameElementList</key>
	<array/>
</dict>
</plist>
