<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>5</integer>
	<integer>5</integer>
	<integer>5</integer>
	<integer>16</integer>
	<integer>5</integer>
	<integer>5</integer>
	<integer>5</integer>
	<integer>16</integer>
	<integer>5</integer>
	<integer>5</integer>
	<integer>5</integer>
	<integer>16</integer>
	<integer>5</integer>
	<integer>5</integer>
	<integer>15</integer>
	<integer>7</integer>
	<integer>7</integer>
	<integer>7</integer>
	<integer>15</integer>
	<integer>15</integer>
	<integer>7</integer>
	<integer>7</integer>
	<integer>7</integer>
	<integer>15</integer>
	<integer>7</integer>
	<integer>7</integer>
	<integer>7</integer>
	<integer>15</integer>
	<integer>15</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<integer>6</integer>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
	<string>12</string>
</array>
</plist>
